/* header */
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/images/background.png");
  background-size: cover;
  background-position: center center;
  height: 480px;
  padding: 10px;
}
.background .header-banner {
  background-color: #0b0b0c;
  height: 24px;
  position: relative;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
}
.background .header-banner .tagline {
  text-align: center;
}
.background .header-banner .select-group {
  position: absolute;
  top: 0;
  right: 64px;
  display: flex;
  gap: 8px;
}
.background .header-banner .select-group .first-select {
  display: flex;
  align-items: center;
}
.background .header-banner .select-group hr {
  border: none;
  border-left: 1px solid #333333;
  width: 1px;
}
.background .header-banner .select-group select {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 900;
}
.background .header-banner .select-group img {
  size: 16px;
}
.background .header-main {
  display: flex;
  align-items: center;
  padding: 16px 64px 16px 64px;
  gap: 32px;
  flex-wrap: wrap;
}
.background .header-main .search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  background-color: #fff;
  border: 1px solid #737373;
  padding: 8px;
  border-radius: 8px;
}
.background .header-main .search-input input {
  border: none;
  width: 100%;
  outline: none;
  font-family: "Hanken Grotesk";
  font-weight: 400;
  font-size: 16px;
}
.background .header-main .search-input input::-moz-placeholder {
  font-family: "Hanken Grotesk";
  font-weight: 400;
  font-size: 16px;
  color: #737373;
}
.background .header-main .search-input input::placeholder {
  font-family: "Hanken Grotesk";
  font-weight: 400;
  font-size: 16px;
  color: #737373;
}
.background .header-main .help {
  display: flex;
  align-items: center;
  color: #fff;
}
.background .header-main .help span {
  padding: 0px 8px;
}
.background .header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 64px 8px 64px;
  gap: 8px;
  color: #fff;
}
.background .header-nav p {
  text-transform: uppercase;
  padding: 0px 16px;
}
.background .header-nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.background .header-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 0px 16px;
}
.background .header-nav a:nth-child(4) {
  color: #ff64c4;
}
.background .header-nav a:nth-child(5) {
  display: flex;
  align-items: center;
}
@media (max-width: 425px) {
  .background .header-nav {
    display: none;
  }
  .background .header-text p {
    display: none;
  }
}
.background .breadcrumb {
  padding: 16px 64px;
}
.background .breadcrumb .tree-structure {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 99px;
  gap: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: -moz-max-content;
  width: max-content;
}
.background .breadcrumb .tree-structure a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #737373;
}
.background .breadcrumb .tree-structure a:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 4px;
}
.background .breadcrumb .tree-structure a:last-child {
  color: #fff;
}
.background .breadcrumb .tree-structure img {
  fill: #737373;
  width: 16px;
}
.background .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1078px;
}
.background .header-text h1 {
  margin-bottom: 16px;
}
.background .header-text h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.background .header-text p {
  padding: 16px;
  border-radius: 8px;
  max-width: 107 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
}/*# sourceMappingURL=header.css.map */