$black: #0b0b0c;
$accentuation: #14c802;
$medium-size: 16px;
$big-size: 24px;
$small-size: 12px;
$very-small-size : 8px;
$gray-lighter: #d9d9d9;
$gray-darker: #737373;
$white: #f2f2f2;
$pure-white: #fff
 